<div class="row fondocarusel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 slide-image" src="http://pereyraperforaciones.com/servidorperf/subidas/LOGO%20YONIS.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 slide-image" src="http://pereyraperforaciones.com/servidorperf/subidas/imagenvideo1-2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 slide-image" src="http://pereyraperforaciones.com/servidorperf/subidas/imagenvideo2-1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- comentario reciente -->
    </div>
</div>
<h4 class="text-center">INSTALACION DE RED DE DESAGÜES CLOACALES, PERFORACIONES HORIZONTALES, CRUCES DE RUTA PARA GAS, AGUA Y CABLEADOS VARIOS</h4>
<div class="row">
    <div class="card col-md-12 col-lg-12 margentarjeta">
        <div class="card-header text-center micolor text-white">
            CRUCES DE RUTAS
        </div>
        <div class="card-body text-left">
            <ul>
                <li>
                    <p class="card-text">TUNELEO PARA CRUCES BAJO RUTA, CALLES, CANALES, ETC…</p>
                </li>
                <li>
                    <p class="card-text">DIAMETRO DE TÚNELES: DESDE 160 mm HASTA 500 mm </p>
                </li>
                <li>
                    <p class="card-text">TÚNELES DE HASTA 30 m DE LONGITUD</p>
                </li>
                <li>
                    <p class="card-text">PROFUNDIDAD DE POZO DE ATAQUE SEGÚN BASE DE INSTALACIÓN DE LA CAÑERÍA QUE SE REQUIERA.</p>
                </li>
                <li>
                    <p class="card-text">GARANTIZA LA CIRCULACIÓN NORMAL DEL TRÁNSITO VEHICULAR</p>
                </li>
                <li>
                    <p class="card-text">CRUCE BAJO VÍAS FERREAS Y CANALES</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="card col-md-12 col-lg-12 margentarjeta">
        <div class="card-header text-center micolor text-white">
            INSTALACIONES A DOMICILIOS
        </div>
        <div class="card-body text-left">
            <ul>
                <li>
                    <p class="card-text">PERFORACION REALIZADA A 80 CM DEL NIVEL DEL PISO</p>
                </li>
                <li>
                    <p class="card-text">CONEXION RAPIDA Y ECONOMICA</p>
                </li>
                <li>
                    <p class="card-text">SIN CORTE DE SERVICIO (BAÑOS-COCINAS-LAVADEROS)</p>
                </li>
                <li>
                    <p class="card-text">SIN ROTURA DE PISOS (CERAMICOS-MOSAICOS-PARKET-ETC) EVITANDO ASI MALAS TERMINACIONES Y TRANSTORNOS DE POLVILLO, TIERRA ESCOMBROS.</p>
                </li>
                <li>
                    <p class="card-text">NO PROVOCA EROSION DEL SUELO.</p>
                </li>
                <li>
                    <p class="card-text">CAÑERIA Y ACCESORIOS DE POLIPROPILENO CON O´RING DE DOBLE LABIO DURATOP - AWADUCT. PERMITIENDO UNA ILIMITADA VIDA UTIL.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--offset-sm-1-->